.messager  {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.received-messages {
    overflow: scroll;
    flex: 1 1 auto
}

.message-row {
    display: inline-block;
    width: 100%;
}

.message {
    border-radius: 10px;
    margin: 1px;
    max-width: calc(100% - 20px);
    padding: 10px;
    word-wrap: break-word;
}

.self {
    background-color: green;
    float: right;
}

.other {
    background-color: grey;
    float: left;
}

.write-message {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    margin-bottom: 3px;
}

input {
    flex: 1 1 auto;
    padding: 10px;
}

button {
    flex: 0 0 auto;
}